.GridCont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25vw;
}

.gridEl{
  font-family: var(--font-mulish), sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

.RC{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rightCont{
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2vw;
  gap: 1vh;
}
.Opts{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2vw;
}
.OptsLeft{
  width: 45%;
  height: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.Hide{
  display: none;
}
.Outer{
  display: grid;
  grid-template-columns: 2px 1fr 2px;
  grid-template-rows: 2px 1fr 2px;
  width: 100%;
  height: 100%;
  padding: 15px 0vw;
  padding-left: 2vw;
}
.projhead{
  padding-left: 2vw;
  font: 400 1.5em var(--font-saira), sans-serif;
}

.center{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  min-width: 20px;
  min-height: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.back{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: light-dark(#BAB7AB, #444444);
}
.intro1{
  width: 160px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro2{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.introDesc{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font: 700 0.7em var(--font-mulish), sans-serif;
  color: grey;
}
.introPara{
  font: 400 0.95em var(--font-mulish), sans-serif;
}
.IntroContent{
  font: 400 1em var(--font-novaf), sans-serif;
}
.BracketCont1{
  grid-row: 1;
  grid-column: 1;
}
.introWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.BracketCont2{
  grid-row: 1;
  grid-column: 3;
  position: relative;
  left: -18px;
}
.BracketCont3{
  grid-row: 3;
  grid-column: 1;
  position: relative;
  top: -18px;
}
.BracketCont4{
  grid-row: 3;
  grid-column: 3;
  position: relative;
  left: -18px;
  top: -18px;
}
.Opt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.OptN{
  width: 100%;
}
.Opt:hover{
  padding-left: 20px;
}

.Opt:hover .railFill{
  width: 100%;
}
.OptTitle{
  font-family: var(--font-mulish), sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}
.ContentOpt{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.rail{
  width: 100%;
  height: 1px;
  background-color: var(--foreground);
}

.railFill{
  width: 0%;
  height: 2px;
  background-color: var(--accent2);
  transition: width 0.5s ease-in-out;
}
.Project{
  height: calc(100% - 7vh - 10px - 5vh - 10px);
  width: 25vw;
  position: absolute;
  top: calc(7vh + 10px);
  left: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  animation-name: delayIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
.WipeOver{
  height: calc(100% - 7vh - 10px - 5vh - 10px);
  width: 25vw;
  position: absolute;
  top: calc(7vh + 10px);
  left: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
  display: none;
  z-index: 1100;
}
.reveal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--foreground);
    display: none;
    z-index: 1000;
}
.Hide{
  display: none;
}
.ProjectHov{
  height: calc(100% - 7vh - 10px - 5vh - 10px);
  width: 25vw;
  position: absolute;
  top: calc(7vh + 10px);
  left: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 800;
  background-color: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  animation-name: delayIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

@keyframes delayIn {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.LogoTitle, .Desktop, .Mobile{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.LogoTitle{
  width: 100%;
  height: 20%;
}
.Logo{
  width: 30%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.LogoHov{
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.Title{
  width: 70%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.Desktop{
  width: 100%;
  height: 33%;
}
.DesktopImg{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top left;
}

.Mobile{
  width: 100%;
  height: 43%;
}
.OptsOptions{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 10px;
  background-color: #980030;
  border-radius: 5px;
  position: relative;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.26);
  color: var(--background);
  animation-name: wipeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes wipeIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
  
}
.OptsButtons{
  all:unset;
  padding: 1px 10px;
  background-color: #51001A;
  border-radius: 2.5px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: light-dark(var(--background),var(--foreground));
}
.OptsButtons:hover{
  background-color: light-dark(#161616, #d4d4d4);
  color: var(--background);
  
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.MobileImg{
  width: calc(50% - 5px);
  height: 100%;
  border-radius: 10px;
}
.MobilePNG{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.Pallete{
  width: 100%;
  height: calc(25% - 2px);
  border-radius: 10px;
}

.PalleteCont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 5px);
  height: 100%;
}

@media only screen and (max-width: 1020px) {
  .GridCont{
    display: none;
  }
  .rightCont{
    width: 100%;
    padding: 0px;
    
  }
  .Outer{
    padding: 10px;
    height: 80vh;
  }
  .IntroContent{
    font-size: 0.9em;
  }
  .introWrap{
    flex-direction: column;
    align-items: flex-start;
    gap: 40px
  }
  .intro2{
    width: 100%;
  }
  .introPara{
    width: 70vw;
  }
  .back{
    gap: 1px;
    color: var(--foreground);
  }
  .Opts{
    flex-direction: column;
    gap: 15px;
  }

  .OptsLeft{
    width: 95%;
  }
  .ProjectHov{
    width: 95vw;
  }
  .Project{
    width: 95vw;
    background-color: var(--background);
  }

}
